h1, h2 {
padding: 30px;
background-color: blueviolet;
font-style: comic;
font-weight: bold;
font-size: 300%;
text-align: center;
}
p {
color: red;
font-family: courier;
font-size: 160%;
text-align: center;
background-color: grey;
float: left;
}
button {
  background-color: black;
  color: white;
  padding: 20px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  text-align: center;
}
body {
  margin: 5%;
  background-image: url(../img/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
img{
  vertical-align: middle;
  max-width: 50%;
  float: left;
}
div {
  width: 50%;
  float: left;
}
section::after {
  content: " ";
  display: block;
  clear: both;
}
p{
  border: 5px;
  color: purple;
}
video{
  margin: 2%;
  width: 96%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: purple;
  overflow: hidden;
  text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: blueviolet;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
